<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/patients/{id}(id=${hospitalId})}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
</div>

<form  action="#"
       th:action="@{/patients/save/{id}(id=${hospitalId})}"
       th:object="${newPatient}"
       method="POST">
    <div class="container">
        <hr>
        <input type="hidden" name="id" th:field="*{id}">
        <label for="firstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter first name" th:field="*{firstName}" name="email" id="firstName" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter last name" th:field="*{lastName}" name="lastName" id="lastName" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter email" th:field="*{email}" name="email" id="email" required>

        <label for="gender"><b>Gender</b>
            <select th:field="*{gender}" id="gender">
                <option th:value="${male}">MALE</option>
                <option th:value="${female}">FEMALE</option>
            </select>
        </label>

        <label for="phoneNumber"><b>Phone number </b></label>
        <input type="text" placeholder="+996 XXX XXX XXX" th:field="*{phoneNumber}" name="phoneNum" id="phoneNumber" required>

        <hr>
        <button type="submit" class="registerbtn">Save patient</button>
    </div>
</form>

</body>
</html>

