<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Companies</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333333FF;
        color: #FFFFFFFF;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/hospitals}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
</div>

<table class="styled-table">
    <thead>
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Doctor name</th>
        <th scope="col">Last name</th>
        <th scope="col">Position</th>
        <th scope="col">Email</th>
        <th scope="col">Hospital name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor: ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.firsName}"></td>
        <td th:text="${doctor.lastName}"></td>
        <td th:text="${doctor.position}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.hospital.name}"></td>

        <td><a th:href="@{/doctors/edit/{id}(id=${doctor.id})}">
            <button>Update</button>
        </a>
        </td>
        <td><a th:method="GET" th:href="@{/doctors/{hospitalId}/{id}/delete(hospitalId=${hospitalId},id=${doctor.id})}">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/doctors/new/{id}(id=${hospitalId})}">
        <button class="btn"> Add new Doctor</button>
    </a>
    <br><br><br><br>
    <a th:href="@{/hospitals}">
        <button style="margin-left: 10px" class="btn"> Hospital page</button>
    </a>
</div>
</body>
</html>

